html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit
}


a:hover {
  text-decoration: none;
}

.card {
  height: 400px;
  width: 400px;
  background-color: darkcyan;
  color: white;
  margin: 20px auto 0 auto;
  padding: 32px;
  text-align: center;
  border: 16px double white;
}

.card a {
  color: white;
  text-underline-offset: 4px;
}

.card li {
  margin: 8px 0;
  list-style: none; 
}

.card ul {
  padding: 0;
}

li.placeholder-recipe {
  margin-top: 24px;
}